<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>作者管理</title>

</head>
<body>
<div>
    <button type="button" onclick="newAuthor()">保存作者</button>
    <br/>
    <br/>
    <button type="button" onclick="findAuthorPage()">分页查询作者</button>
</div>

</body>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script src="../../static/js/myGraphqlClient.js" th:src="@{/js/myGraphqlClient.js}"></script>
<script>

    function findAuthorPage() {
        const query =
            `query{
                findAuthorPage(first: 2){
                    edges{
                      cursor
                      node{
                        id
                        firstName
                        lastName
                        books{
                          id
                          title
                          pageCount
                        }
                      }
                    }
                    pageInfo{
                      hasNextPage
                      hasPreviousPage
                    }
                }
            }
            `;
        send(query, {}, function (json) {
            alert(JSON.stringify(json))
        })
    }

    function newAuthor() {
        const variables = {firstName: '张', lastName: '三'};
        const mutation =
            `mutation NewAuthor($firstName: String!, $lastName: String!) {
                newAuthor(firstName: $firstName, lastName: $lastName){
                    id
                    firstName
                    lastName
                }
            }`;
        send(mutation, variables, function (json) {
            alert(JSON.stringify(json))
        })
    }

</script>
</html>